<div class="formar">
  <div class="row">
    <a name="formacion"></a>
    <h1>Formación Profesional</h1>  
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
        Nueva Educación
      </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Educacion of educacion">
            <td><h6>{{Educacion.nombreEsc}}</h6></td>
            <td class="ocultar">{{Educacion.area}}</td>
            <td>{{Educacion.titulo}}</td>
            <td>{{Educacion.img}}</td>
            <td>{{Educacion.inicio}}
            {{Educacion.fin}}</td>
            <td *ngIf="isLogged">
              <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                <i class="bi bi-pencil-fill"></i> EDITAR
              </button>
              <button class="btn btn-danger" (click)="borrar(Educacion.id)">
                <i class="bi bi-trash"></i> BORRAR
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div> 

  </div>
</div>