h2, h6, p{
  padding: 10px 0 10px 0;
  left: 36px;
  font-weight: bold;
  text-align: left;
}

hr{
  border: 2px solid cyan;
  border-radius: 50%;
  width:93%;
}

.formar{
  text-align: center;
  background-color: #fafafa;
  border: 4px solid blue;
  border-radius: 15px;
}

@media (max-width: 600px){
  .table {
    display:flex;
    flex-direction: column;
    align-content: center;
  }

  .ocultar {
    display: none;
  }
}