<div class="proyect">
  <div class="row">
    <a name="proyectos"></a>
    <h1>Proyectos</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
        Nuevo Proyecto
      </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Proyecto of pro">
            <td><h5>{{Proyecto.nombreP}}</h5></td>
            <td>{{Proyecto.descP}}</td>
            <td><img [src]="Proyecto.imgP"></td>
            <td *ngIf="isLogged">
              <button class="btn btn-light" routerLink="/editpro/{{Proyecto.id}}">
                <i class="bi bi-pencil-fill"></i> EDITAR
              </button>

              <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                <i class="bi bi-trash"></i> BORRAR
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>