h1{
  display: block;
  position:relative;
  padding: 25px;
}
h2 {
  margin-bottom: 35px;
  text-transform: uppercase;
  color: #ABB2B9;
}

.skills{
  text-align: center;
  background-color: #fafafa;
  border: 4px solid blue;
  border-radius: 15px;
}

.btns{
  text-align: center;
}

.progress-container{
  position: relative;
  display:flex;  
  justify-content:space-around;
  background-color:white;
  text-align: center;
}

.progress-container ul {
  display: block;
  padding:0;
}

.progress-container li {
  display: inline-flex;
  margin-bottom: 10px;
}