<a name="habilidad">
<div class="skills">
    <div><h1>Hard Skill</h1></div>
    <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">
      Nueva Skill
    </button>
    <div class="progress-container">  
      <ul>
        <div>
          <li *ngFor="let Skill of skill">
            <div  *ngIf="(Skill.tipoS | uppercase) == 'HARD'">
              <circle-progress
                [percent]="Skill.porcS"
                [radius]="100"
                [titleFontSize]="'40'"
                [titleColor]="'#ABB2B9'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#00358E'"
                [innerStrokeColor]="'#C4D7F7'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
              <h2>{{Skill.nombreS}}</h2>
              <div *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{Skill.id}}">
                  <i class="bi bi-pencil-fill"></i>Editar
                </button>
              </div>
              <div *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Skill.id)">
                  <i class="bi bi-trash"></i>Borrar
                </button>
              </div>
            </div>
          </li>
        </div>
      </ul>
  </div>

  <div>
    <div><h1>Soft Skill</h1></div>
    <div class="progress-container">  
      <ul>
        <div>
          <li *ngFor="let Skill of skill">
            <div  *ngIf="(Skill.tipoS | uppercase) == 'SOFT'">
              <circle-progress
                [percent]="Skill.porcS"
                [radius]="100"
                [titleFontSize]="'40'"
                [titleColor]="'#ABB2B9'"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#00358E'"
                [innerStrokeColor]="'#C4D7F7'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
              <h2>{{Skill.nombreS}}</h2>
              <div *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{Skill.id}}">
                  <i class="bi bi-pencil-fill"></i>Editar
                </button>
              </div>
              <div *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Skill.id)">
                  <i class="bi bi-trash"></i>Borrar
                </button>
              </div>
            </div>
          </li>
        </div>
      </ul>
  </div>
  </div>  
</div>